<div class="container">
  <h1 style="text-align: center">List of students</h1>
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Roll</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tr *ngFor="let student of students">
          <td>{{ student.name }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.roll }}</td>
          <td>{{ student.address }}</td>
          <td>
            <button class="btn btn-primary" (click)="goToEditStudent(student.id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success" (click)="goToAddStudent()">+Add Students</button>
    </div>
  </div>
</div>
